/* Estilos básicos */
.aulas-bg{
    margin-top: 80px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.aulas-bg h1{

    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    color: #2C3E50;
    margin-bottom: 80px;
    font-weight: 400;
}

.subTitulo{
   display: block;
}

.aulas {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 420px);
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.aula {
    width: 300px;
    height: 420px;
    border: 1px solid #2C3E50;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(71, 85, 110, 0.9);
}

.aula:hover{
    transform: scale(1.05);
    cursor: pointer;
} 

 .containerh2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #2C3E50;
    margin-bottom: 20px;
}

.containerh2 h2{
    color: #F5F1E9;

    font-size: 1.4rem;
}

.containerh2 + h3{
    text-align: center;
    margin-bottom: 20px;
}

h3, li, h4, h2{
    font-family: "Open Sans", sans-serif;
}

.cargo{
    display: block;
    font-weight: 400;
}

h4, .containerh2 + h3 {
    color: #2f2f2f;
    font-size: 1rem;
    
}

.desc{
    padding: 0 40px;
}

.dia-hora{
    display: grid;
    grid-template-columns: 16px 1fr;
    gap: 0 10px;
}

.dia-hora img{
  margin-top: 3px;
}

.dia{
    margin-bottom: 10px;
}

.btn-aula{
    margin-top: 20px;
    width: 100%;
    margin-left: 83.5px;
    background-color: #2C3E50;
    color: #D6EAF8;
    padding: 16px 32px;
    font-family: "Open Sans";
    font-size: 0.9rem;
    border-radius: 30px;
    max-width: max-content;
    border: none;
    text-transform: uppercase;
}

.btn-aula:hover{
    background: linear-gradient(#2C3E50, #648db6);
}

.btn-carrossel{
    margin-top: 42px;
    margin-left: 84.5px;
}

/* Ocultar inputs */
input[type="radio"] {
    display: none;
}

/* Estilo para o conteúdo de cada slide */
.aula-content {
    position: absolute;
    width: 300px;
    height: 420;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    z-index: 1; /* Garante que o slide ativo esteja no topo */
} 


input#violao1:checked ~ .slide1,
input#violao2:checked ~ .slide2,
input#canto1:checked ~ .slide1,
input#canto2:checked ~ .slide2 {
    opacity: 1;
    visibility: visible; /* Torna o slide visível quando está ativo */
    z-index: 2; /* Garante que o slide ativo esteja no topo */
}

/* Controles do carrossel */
.controles {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
}

.controles label {
    display: inline-block;
    width: 70px;
    height: 17px;
    border: 3px solid #2C3E50;
    border-radius: 10px;
    cursor: pointer;
}
