.main{
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 80px;

}


.desc-Titulo{
    font-family: "Bebas Neue",sans-serif;
    font-weight: 400;
    max-width: 20ch;
    font-size: 4rem;
    color: #2C3E50;
    margin-bottom: 30px;
    
}

.desc-texto{
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    line-height: 2;
    color: #2F2F2F;
    margin-bottom: 30px;
}

