.pagina-perfil-aluno{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.coluna-perfil{
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coluna-agenda{
  background-color: azure;
}

.coluna-aulas-disponiveis{
  background-color: rgb(231, 206, 167);
}